# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Docker
*.log
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Kubernetes
*.yaml~
*.yml~

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# OS Files
.DS_Store
Thumbs.db

# Ignore plaintext secrets
*.pem
mysecret.yaml
mycert.pem
mysealedsecret.yaml
**/secrets/*.yaml       # if you keep local plaintext before sealing
**/secret*.yaml         # any temporary files